body {
    background-color: #E2DBC1;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

#header {
    background-image: url(../img/22289630_899727986848967_6958087584969004662_o.jpg);
}

/*NAV STYLE START*/

nav {
    background-color: #E3C0AD;
    color: #000;
}

nav.navbar {
    padding: 0px;
}


nav img.logo {
    max-height: 60px;
    margin-left: 20px;
}

img.rags-icons {
    max-height: 30px;
}

nav ul li {
    margin-right: 5%;
    padding: 10px;
}

nav ul li a {
    color: #000;

}

nav ul li a:hover {
    color: #907676;
    text-decoration: none;
}

nav img.rags-icons:hover,
nav ul li a.kontakt:hover img.rags-icons {
    transform: rotate(24deg);
}

button.navbar-toggler {
    margin-right: 20px;
}

/*NAV STYLE END*/
