#container {
    background-color: #213b50;
    padding: 20px;
    color: #ffffff;
    width: 45%;
    border-radius: 2%;


}

input,
select,
textarea {
    background-color: #2b4a64;
    color: #ffffff;
    border: none;
    margin-top: 5px;
    margin-bottom: 15px;
    padding: 5px;
    box-sizing: border-box;
    outline: 0;

}

input[type="text"],
input[type="email"],
input[type="tel"],
select,
textarea {
    width: 50%;

}

form p {
    margin-bottom: 5px;
    margin-top: 0;
    
}

input:focus,
select:focus,
textarea:focus {
    background-color: #4e708c;
    border: 1px solid #ffffff
}

input[type="submit"] {
    background-color: #1AC056;
    width: 80px;
    padding: 10px;
    font-weight: 800;
    text-align: center;
    
}