@import "variables";

div#form {
    height: 60%;
    width: 28%;
    position: absolute;
    right: 15%;
    top: 18%;

    @media #{$small-screen} {
        width: 70%;
        margin-left: 25%;
        top: 20%;

    }

    form {
        background-color: $bg-form-color;
        padding: 10px;

        input[type="text"] {
            width: 90%;
            padding: 10px;
            margin-bottom: 3%;
            margin-left: auto;
            margin-right: auto;
            font-size: 0.8em;
        }

        input[type="submit"] {
            background-color: $color-yellow;
            border-style: none;
            padding: 10px;
            font-size: 1.2em;
            font-weight: bold;
        }
    }

}
