$bg-form-color: #001D8A;
$color-yellow: #ECD407;
$color-black: #000;
$main-font: 'Open Sans',
sans-serif;
$color-white: #fff;
$color-footer: #292929;

$small-screen: "only screen and (max-width : 926px)";
