@import "header";
@import "form";
@import "variables";
@import "footer";

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: $main-font;
    color: $color-white;
}

span {
    color: $color-yellow;
}
